
/*Soluzione1*/
.ex-1-square:hover{
    background-color: red;
    border: 0;
}


/* ESERCIZIO 2 */
.ex-2-square:active{
    transform:scale(2,1);
}


/*esercizio 3*/
.ex-3-square:hover{
    border-radius: 50%;
}


/*esercizio 4*/
.ex-4-square:hover{
    opacity: 0;
}


/*esercizio 5 */
.ex-5-square:hover{
    scale:1.5
}
.ex-5-square:active{
    scale: 0.5;
   }
/*Esercizio 6 */
.ex-6-img:hover{
     filter: grayscale(1);
}

/* es7*/
.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter:sepia(1);
    opacity: 50%;
}

/*esercizio 8*/
.ex-8-img{
    transition: 2s;
}
.ex-8-img:hover{
    filter:contrast(0.5);
    opacity:40%;
    border-radius: 20%;
}

/*esercizio 9*/
.ex-9-img:hover{
    filter:contrast(1);
    opacity:40%;
    border-radius: 20%;
    scale:150%;
}
/*esercizio 10*/
.ex-10-icon {
    animation: giro 1s linear infinite;
}
@keyframes giro {
    0% {
        transform: rotate(1turn);
    }
}

/* esercizio 11*/
.ex-11-icon:hover {
    animation: giroenon 2s linear;
}
@keyframes giroenon {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

/*esercizio 12*/
.ex-12-button:hover .ex-12-bottom-white {
    animation: biancosotto 3s linear;
}
@keyframes biancosotto {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 50px);
    }
    100% {
        right: 20%;
    }
}
.ex-12-button:hover .ex-12-top-white {
    animation: biancosopra 3s linear;
}
@keyframes biancosopra {
    0% {
        left: 20%;
    }
    50% {
        left: calc(100% - 50px);
    }
    100% {
        left: 20%;
    }
}

/*esercizio 13*/
.ex-13-button:hover .ex-13-top-white {
    animation: sopra 3s linear;
}
@keyframes sopra {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 25px);
        top: -10px;
    }
    45% {
        left: calc(100% - 25px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: sotto 3s linear;
}
@keyframes sotto {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 25px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 25px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}